.PMS_enterCar {
  display: flex;
  background: linear-gradient(
      to top,
      rgb(255, 255, 255, 0.8),
      rgb(255, 255, 255, 0.8)
    ),
    url("images/parkinglot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.PMS_enterCar input {
  margin: 3px;
}
@media (max-width: 510px) {
  .title {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 601px) {
}

form {
  display: flex;
  flex-direction: column;
}

.submit.Btn {
  text-decoration: none;
  font-style: normal;
  font-size: medium;
  border: none;
  margin: 20px;
}

.title.popup {
  display: flex;
  flex-direction: column;
}
