.PMS_Header {
  display: flex;
  position: fixed;
  background: black;
  color: white;
  top: 0;
  width: 100%;
  height: 33px;
  align-items: center;
  justify-content: space-around;
}

.Header__name {
  color: white;
  text-decoration: none;
  padding: 3px;
  font-weight: 900;
  margin: 0px 8px;
}
.Header__welcome {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 3px;
  font-weight: 900;
}

.navBtn {
  cursor: pointer;
  padding: 8px 20px;
  color: white;
}

.navBtn:hover {
  background-color: gray;
}

.navBtn.now {
  background-color: gray;
}

.PMS_Header_UI {
  display: flex;
  position: fixed;
  color: white;
  top: 0;
  width: 100%;
  height: 33px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .Header__Users {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .Header__Btns {
    opacity: 0;
    background: linear-gradient(
      to right,
      rgb(150, 150, 150),
      rgb(150, 150, 150, 0.85)
    );
    background-repeat: no-repeat;
    position: fixed;
    top: 33px;
    left: -150px;
    height: 100%;
    display: flex;
    flex-direction: column;

    transform: translate(0px, 0px);
    transition-duration: 0.5s;
  }

  .Header__Btns.UI {
    background: none;
  }
  .Header__Users .logOut.navBtn {
    display: none;
  }
  .menu.navBtn {
    display: flex;
    background: none;
  }
  .Header__Users:hover + .Header__Btns,
  .Header__Btns:hover {
    transform: translate(150px, 0px);
    opacity: 1;
    transition-duration: 0.5s;
  }

  .PMS_Header {
    justify-content: space-between;
  }
}

@media (min-width: 721px) {
  .Header__Users,
  .Header__Btns {
    display: flex;
  }

  .menu.navBtn {
    display: none;
  }

  .Header__Btns .logOut.navBtn {
    display: none;
  }
}

.PMS_Footer.popup {
  height: 15px;
}

.js-clock h1 {
  font-size: 20px;
}
