@media (max-width: 440px) {
  .title {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 601px) {
  .index_UI {
    display: flex;
    flex-direction: column;
  }
  .index_UI .UI_Btn {
    padding: 5px 35px;
    margin: 0px;
  }
}

.index__main {
  display: flex;
  background: linear-gradient(
      to top,
      rgb(200, 200, 255, 0.6),
      rgb(200, 200, 255, 0.6)
    ),
    url("images/index.jpg");
  color: white;
  background-position: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  width: 100%;
  min-height: 600px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.index_UI .UI_Btn {
  padding: 5px 35px;
  margin: 10px;
  border-radius: 40px;
  color: white;
  background: linear-gradient(#0b3c8e, #a6cce7);
}

.index_UI {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.Back,
.Admin {
  padding: 10px;
  border-radius: 40px;
  color: white;
  background: linear-gradient(#d61b12, #ea9197);
}

.Admin {
  visibility: hidden;
}
