@import "reset.css";
@import "header.css";
@import "enterCar.css";
@import "parking.css";
@import "index.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900&display=swap&subset=korean");
body * {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-decoration: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  flex-direction: column;
}
h1 {
  font-size: 30px;
  margin: 20px;
}

.Btn {
  text-decoration: none;
  font-style: normal;
  display: flex;
  cursor: pointer;
  color: white;
  background: linear-gradient(#0b3c8e, #a6cce7);
  width: 100px;
  justify-content: center;
  border-radius: 20px;
  padding: 3px;
  margin: 2px;
}
.Btn:active {
  background-color: #1877f2;
}

.Btns {
  display: flex;
}
.Btns a {
  text-decoration: none;
  margin: 20px;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 40px;
}

.PMS_Footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
}
