@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

input {
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

input:focus {
  transform: translateY(-60px);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.UI_Btn:hover {
  background: linear-gradient(#027c01, #13eb0b);
}

.Back:hover,
.Admin:hover {
  background: linear-gradient(#f85f00, #f8be2f);
}

.status {
  margin-bottom: 5px;
  color: #d61b12;
}

.PMS_Footer.UI {
  color: #b6b6d6;
  background: white;
  height: 40px;
  width: 94%;
  padding: 5px 3%;
}
